/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(214, 54, 54);
    font-weight: bold;
}
.az{

color: rgb(214, 54, 54);
}

.question {
    margin-bottom: 20px;
}

form {
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

button#submit {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button#submit:hover {
    background-color: #0e5ba9;
}
.b1{
    margin: 0%;
    padding: 10px 20px;
    background-color: rgb(214, 54, 54);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.b1:hover{
    background-color: rgb(150, 147, 147);
}